html {
    font-family: sans-serif;
}

#root {
    display: grid;
    grid-auto-columns: auto;
    grid-template-rows: 4em auto auto;
    row-gap: 1em;
}

.game-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20em, 1fr));
    grid-auto-rows: 10em;
    gap: 1em;
}

.game-form {
    display: grid;
    grid-template-columns: auto 1fr;
}