html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

select {
    -webkit-appearance: menulist-button;
}

input, select, option {
    padding: 0.5em;
    font-size: 1em;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child {
    margin-top: 0;
}

#root {
    display: grid;
    grid-auto-columns: auto;
    grid-template-rows: 4em auto auto;
    row-gap: 1em;
}

.card-inside {
    padding: 1.5em;
}

.card canvas {
    width: 100%;
    height: 100%;
}

.button, button {
    padding: 0.5em;
    display: inline-block;
    width: fit-content;
    justify-self: end;
    cursor: pointer;
}

.inner-content {
    padding-left: 5rem;
    padding-right: 5rem;
}

.title {
    font-size: 2.5em;
    line-height: 3.6rem;
    padding: 0.2em;
    padding-left: 2rem;
    padding-right: 2rem;
}

.start-page {
    display: grid;
    gap: 1em;
}

.game-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 1rem;
}

.game-item {
    display: flex;
    flex-direction: column;
}

.game-item > * {

}

.game-form {
    display: grid;
    grid-template-columns: 20em minmax(5em,auto);
}

.game-form-fields {
    display: grid;
    grid-template-columns: auto;
    row-gap: 1em;
}

.game-form > button, .game-form > .button {
    justify-self: end;
}

.game-players {
    display: inline-block;
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
    width: 9em;
}